body{
    background-color: rgb(80, 82, 83) !important;
}
.search-bar { margin: 1rem; }
.dropdown-menu { display: block; }

.search-bar .input-group-text {
  border-top-left-radius: 100px !important;
  border-bottom-left-radius: 100px !important;
  background-color: white;
  padding-right: 0;
  padding-left: 1.5rem;
}
.search-bar input[type="search"] {
  border-left: 0 none;
  border-right: 0 none;
}
.search-bar button {
  border-top-right-radius: 100px !important;
  border-bottom-right-radius: 100px !important;
  border-color: #ced4da;
  border-left-color: transparent;
  background: white;
  color: #495057;
}
.search-bar button:hover, .search-bar button:focus {
  background: white;
  color: #007bff;
  border-color: #007bff;
}
.dropdown-menu {
  box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.12);
  border-radius: 8px;
}
.dropdown-item:focus, .dropdown-item:hover {
  background-color: rgba(0, 123, 255,0.08);
}